/* Root and All */

:root {
    --background: #154f69;
    --blue: #0652DD;
    --red: ;
    --yellow: ;
    --black: ;
}

* {
    background-color: var(--background);
    box-sizing: border-box;
}

/* Colors */

.blue {
    background-color: var(--blue);
}

/* Header */

h1 {
    font-size: 75px;
    font-family: 'Rubik', 'Roboto', 'Open Sans', sans-serif;
}

header {
    width: 100%;
    text-align: center;
    padding: 10px 10px 100px;
    color: #EA2027;
    text-shadow: 6px 0px #FFC312;
}

/* SVG and Map */

#world-map {
    position: relative;
    display: block;
    width: 85%;
    padding: 0;
    margin-left: 14%;
    margin-right: 1%;
}

#world-map svg { 
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
}

/* Individual Cities */

/* Player Styling */

#player-one {
    height: 250px;
}

/* Footer */

footer {
    width: 100%;
    text-align: center;
}